{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block content %}
	<h1>About</h1>
	<div class="about_me">
		<p>This is the stock about page of persephone.</p>
		<p>Normally this is where you would put a little bit of info about yourself.</p>
	</div>
	<div class="about_persephone">
		<img src="{{ g.persephone_config['static_persephone_uri'].format('persephone_128.png') }}">
		<p><a href="https://github.com/artbunker/persephone">artbunker/persephone</a> is a fork of <a href="https://github.com/secretisdead/persephone">persephone</a>, a media archive (with other cool stuff) written by secret.<p>
	</div>
{% endblock %}
